.loading-overlay {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.loading-panel {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background-color: #111;
  z-index: 1;
  transition: transform 1s ease-in-out;
}

.left-panel {
  left: 0;
}

.right-panel {
  right: 0;
}

.loading-text-container {
  position: relative;
  z-index: 2;
}

.loading-text {
  font-family: Arial, sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  background: linear-gradient(to right, #8b5cf6, #ec4899, #eab308);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  animation: colorSlide 3s infinite linear;
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
}

@keyframes colorSlide {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -200% 0%;
  }
}

/* Khi split, 2 panel sẽ trượt ra */
.loading-overlay.split .left-panel {
  transform: translateX(-100%);
}

.loading-overlay.split .right-panel {
  transform: translateX(100%);
}
