@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --gray-primary: 0 0% 50%;
  --gray-secondary: 0 0% 75%;
  --border-primary: 0 0% 60%;
}

.dark {
  --background: 0 0% 25.1%;
  --foreground: 210 40% 98%;
  --gray-primary: 0 0% 40%;
  --gray-secondary: 0 0% 30%;
  --border-primary: 0 0% 50%;
}

@layer base {
  :root {
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .self-anchor-center {
    align-self: anchor-center;
  }
}

@layer components {
  .payment-card {
    @apply drop-shadow bg-white border border-white shadow-slate-800 rounded-xl p-3;
  }

  .stat-card {
    @apply bg-white border border-white shadow-md rounded-[20px] p-4 text-black basis-[18rem];
    filter: drop-shadow(6px 4px 15px rgba(0, 0, 0, 0.1));
  }

  .card-shadow {
    @apply bg-white border border-white shadow-md rounded-[20px] text-black  h-fit p-6;
    filter: drop-shadow(6px 4px 15px rgba(0, 0, 0, 0.1));
  }

  .card-header {
    @apply text-xl font-bold leading-6 text-black whitespace-nowrap;
  }

  .shadow-small {
    @apply shadow-lg;
    filter: drop-shadow(6px 4px 15px rgba(0, 0, 0, 0.1));
  }
}
